language: generic

matrix:
  include:
    - os: linux
      dist: bionic
      language: cpp
      compiler: gcc
      env: LANGUAGE=cpp
    - os: linux
      dist: bionic
      language: cpp
      compiler: gcc
      env: LANGUAGE=python

    - os: osx
      osx_image: xcode9.4
      language: cpp
      compiler: clang
      env: LANGUAGE=cpp
      addons:
        homebrew:
          update: true

    - os: osx
      osx_image: xcode9.4
      language: cpp
      compiler: clang
      env: LANGUAGE=python
      addons:
        homebrew:
          packages:
            - swig
          update: true

    - os: windows
      language: cpp
      script:
          - cmake -S . -B build
          - cmake --build build --target test

    - os: windows
      language: cpp
      env: LANGUAGE=python
      script:
          - choco install python swig -y
            #Reload path
          - eval $(powershell -NonInteractive -Command 'write("export PATH=`"" + ([Environment]::GetEnvironmentVariable("PATH","Machine") + ";" + [Environment]::GetEnvironmentVariable("PATH","User")).replace("\","/").replace("C:","/c").replace(";",":") + ":`$PATH`"")')
          - python --version
          - pip --version
          - pip install numpy
          - cmake -S . -B build -DBUILD_PYTHON=ON
          - cmake --build build --config Release
          - cmake --build build --config Release --target test
          - pip install build/python/parflowio/
          - cd python/
          - python test.py

install:
  - ./.travis/install.sh

script:
  - ./.travis/script.sh
